'use strict';
angular.module('main')
  .constant('st2Config', {

        hosts: [{
                name: 'Dev Env',
                url: '//127.0.0.1:9101',
                auth: true,
                }]

            });
