#!/bin/bash

source {{ arteria_runfolder_env_root }}/bin/activate

# When the runfolder package is installed, we also install the corresponding
# tests in the runfolder_tests package, so we can call the tests directly:

# TODO: Don't hardcode the path like this
test_script=/opt/arteria/arteria-runfolder-env/lib/python2.7/site-packages/runfolder_tests/run_integration_tests.py
python $test_script http://testarteria1:10800/api/1.0 /data/testarteria1/runfolders

