---

port: 10700
sender: me@example.com
receiver: who@example.com
report_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/quickReport.pl
qc_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/qcValidateRun.pl
version_bin: {{ arteria_siswrap_env_root }}/deps/sisyphus/sisyphus-latest/version.pl
runfolder_root: {{ runfolder_path }}/
perl: /usr/bin/perl
