[program:siswrap-ws]
user = {{ arteria_user }}
process_name = siswrap-ws-%(process_num)s
command = /opt/arteria/arteria-siswrap-env/bin/siswrap-ws
              --configroot={{ arteria_siswrap_config_root }}
              --port %(process_num)s
numprocs = 1
numprocs_start=10700
